.navbar {
  height: 50px;
  /* background-color: #228000; */
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 0.9192051820728291) 100%,
    rgba(0, 255, 226, 0.9681372549019608) 100%,
    rgba(0, 0, 0, 1) 100%
  );
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-name {
  text-transform: capitalize;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
.user-admin {
  text-transform: capitalize;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin-right: 20px;
}
.logo {
  font-weight: 600;
  font-size: 22px;
}

.navButton {
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: rgb(2, 0, 36);
  background: white;
  /* border-radius: 2px; */
  font-size: 15px;
}

.afterlogin {
  display: flex;
  justify-content: center;
  align-items: center;
}
